.container {
    width: 100%;
}

.block {
    padding: 20px 20px 0 20px;
}

.center {
    text-align: center;
}

img {
    width: 618px;
    height: 386px;
    padding-left: 10%;
    padding-right: 10%;
}